<!DOCTYPE html>
<html ng-app='myApp'>
  <head>
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  </head>
  <body>
  <div ng-controller='mainCtrl' class='container'>
    <div class="row">
      <div ng-controller='calendarCtrl' class='col-md-6'>
        <div ui-calendar='uiConfig.calendar' ng-model='eventSources'></div>
      </div>

      <div ng-controller='scheduleCtrl' class='col-md-6'>
         <div ui-calendar='uiConfig.calendar' ng-model='eventSources' class='schedule'></div>
      </div>
    </div>
  </div>

    <link rel="stylesheet" href="bower_components/fullcalendar/dist/fullcalendar.css"/>
<!-- jquery, moment, and angular have to get included before fullcalendar -->
<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/moment/min/moment.min.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="bower_components/angular-ui-calendar/src/calendar.js"></script>
<script type="text/javascript" src="bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
<script type="text/javascript" src="bower_components/fullcalendar/dist/gcal.js"></script>

<script type="text/javascript" src='scripts/app.js'></script>

<script type="text/javascript" src='controllers/mainCtrl.js'></script>
<script type="text/javascript" src='controllers/calendarCtrl.js'></script>
<script type="text/javascript" src='controllers/scheduleCtrl.js'></script>



  </body>
 
</html>
