/*////////////////////////
//--- Media Queries --- //
////////////////////////*/

/* --- Small Devices --- */

@media screen and (min-width: 500px) {
  
  .calendarHead{
    font-size: 2.5em;
    width: 60%
  }
  
  .wrapper{
    float: right;
    width: 90%;
  }
  
  option {
    font-size: 0.5em;
  }
  
  nav{
    width: 10%;
  }
  
  .dayText{
    margin: auto;
  }
}

/* --- Medium Devieces --- */

@media screen and (min-width: 835px){

.flex-item{
  flex: 1 5vw;
}
  
.dateBox{
    height: 3.5vw;
  }

.wrapper{
  background: none;
}
  
.app-container{
  display: inline-block;
  width: 100%; 
  height: 60%;
  bottom: 3%;
  position: absolute;
}

.flex-container{
  width: 100%;
}
  
.calendarHead{
  background: mediumaquamarine;
  height: 15%;
}
  
  option {
    font-size: 0.4em;
  }
  
  nav{
    width: 8%;
  }
  
  .fa-stack{
  font-size: 1em;
}
  .fa-lg.fa-lg{
    font-size: 1.5em;
  }

.faCalendarText.faCalendarText{
    font-size: 0.7em;
  }
  
  .dayText{
    margin-top: 10px;
  }
  
  .date-hover:hover{
    background: #5DB897;
  }
  
  .menuLinkText{
    opacity: 0;
  }
  
  
  .col{
    display: inline-block;
    height: 100%;
    width: 30%;
    margin-left: 2%;
    position: relative;
  }
  
  .colTwo{width: 30%}
  
  .colThree{width: 30%}
  
  .col-flexbox{
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .addTask{
    background: teal;
    background: rgba(0, 0, 0, 0.3);
    height: 25%;
    position: absolute;
    top: 3%;
    width: 100%;
    overflow: hidden;
  }
  
  .addTaskBtn{
    height: 40%;
    width:  20%;
    text-align: center;
    display: inline-block;
    position: absolute;
    bottom: 2.5%;
    right: 2.5%;
  }
  
  .fa-plus-circle.fa-plus-circle {
    font-size: 4em;
  }
  
  .addTaskBtn p{
    font-size: 1.2em;
    font-weight: bold;
    color: inherit;
  }
  
  
  .slide1, .slide2{
    -webkit-transition: all 10s;
    -webkit-transition-duration: 10s;
    transition: all 10s;
    
  }
  .slide2{
    background: mediumaquamarine;
  }
  
/*
  .addTask-heading{
    background: #5DB897;
    font-size: 1.3em;
    height: 15%;
    margin: 2.5% auto;
    padding-top: 1%;
    text-align: center;
    width: 60%;
  }
  
  label, input, textarea{
    display: block;
  }
  
  label{
    margin-left: 5%;
  }
  
  input, textarea{
    background: #FAFAFA;
    border: none;
    margin-left: 5%;
    width: 85%;
  }
  
  input#title{
    margin-bottom: 2%;
    width: 70%;
  }
  
  textarea{
    height: 5em;
    resize: none;
  }
*/
  
  .schedule{
    background: #FAFCFA;
    height: 92%;
    position: absolute;
    top: 3%;
    left: 5%;
    width: 90%;
  }
  
  .scheduleDate{
    border-bottom: 1px solid gray;
    color: gray;
    display: inline-block;
    float: left;
    height: 20%;
    margin-left: 2%;
    position: relative;
    width: 25.5%;
  }
  
  .scheduleDateText{
    bottom: 0;
    font-size: 1.2em;
    font-weight: 500;
    left: 5%;
    position: absolute;
  }
  
  .scheduleTimes{
    border-left: 1px solid gray;
    color: gray;
    display: inline-block;
    float: right;
    height: 100%;
    overflow-y: scroll;
    width: 72.5%;
  }
  
  .scheduleHour{
    border-bottom: 1px dotted black;
    height: 12vh;
    position: relative;
  }
  
  .hourText{
    bottom: 0;
    font-size: 1.5em;
    left: 3%;
    margin-bottom: 3px;
    position: absolute;
  }
  
  ::-webkit-scrollbar {
    width: 3px;
}
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
 
}
